<ion-view title="{{ title }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-refresh" ng-click="synchronize()"></button>
        <button class="button button-icon icon ion-trash-b" ng-click="data.showDelete = !data.showDelete;"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list
            show-delete="data.showDelete"
        >
            <ion-item ng-repeat="(key, article) in articles" ng-class="{'item-stable': article.isRead==0 }" ng-href="#/article/view/{{article.id}}">
                <h2>{{ article.title }}</h2>
                <div>{{ article.content | stripTags }}</div>
                <p ng-if="article.tags.length > 0">
                    <i class="icon ion-bookmark"></i>
                    <span ng-repeat="(key, tag) in article.tags"> {{ tag.label }} <span ng-if="!$last">|</span>
                    </span>
                </p>
                <ion-delete-button ng-class="article.delete?'ion-loading-c':'ion-minus-circled'" ng-click="deleteArticle(article)">
                    <ion-spinner ng-hide="!article.delete"></ion-spinner>
                </ion-delete-button>
            </ion-item>
            <ion-infinite-scroll
                on-infinite="loadMore()"
                ng-if="hasMore()"
                distance="5%">
            </ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>
